In [1]:
# Libraries for selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
# Waited conditionals for Selenium
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.select import Select

# Data Manipulations libraries
import pandas as pd

# Regular expressions library
import re

# Datetime library
import time

import string
import numpy

In [2]:
# Open the web browser
driver = webdriver.Edge()
# Maximize the window
driver.maximize_window()

In [3]:
# Acceder al SIGMAA
url = 'https://uclb.ucaribe.edu.mx/sigmaav2/'
driver.get(url)

In [4]:
# Biblioteca para leer archivos
import os
# Biblioteca para leer .env
from dotenv import load_dotenv
# Cargamos variables de ambiente
load_dotenv()

# Obtener las credenciales del estudiante
id_user = os.getenv('ID')
password = os.getenv('PASS')
MONGODB_URI = os.getenv('MONGODB_URI')

In [5]:
# Buscar el campo de usuario y escribir el username
userinput = driver.find_element(By.XPATH, '/html/body/div[2]/form/div/span[2]/input')
userinput.send_keys(id_user)
# Buscar el campo de contraseña y escribir el password
passinput = driver.find_element(By.XPATH, '/html/body/div[2]/form/div/input')
passinput.send_keys(password)
# Buscar el botón de submit y dar clic para iniciar sesión
submitinput = driver.find_element(By.XPATH, '/html/body/div[2]/form/button')
submitinput.click()

In [6]:
informacionPersonal = driver.find_element(By.XPATH, '/html/body/div[1]/div/div/div/div/div/ul[2]/li[6]/a')
informacionPersonal.click()

In [7]:
# Extraer la tabla usando webscrapping
dfs = pd.read_html(driver.page_source)

In [8]:
len(dfs)

2

In [9]:
dfs[0]

    0   1   2
0 NaN NaN NaN

In [10]:
datos = dfs[1]
datos

,Datos personales,Datos personales.1,Datos personales.2,Datos personales.3,Datos personales.4,Datos personales.5
0,Apellido Paterno:,DIAZ,Apellido Materno:,GONZALEZ,Nombre(s):,KENNETH
1,RFC:,NaN,CURP:,DIGK990509HQRZNN01,Sexo,Masculino
2,Estado Civil:,- Elige el Estado Civil - Soltero(a) Casado(a)...,Nacionalidad,Mexicano,Fecha de nacimiento:,1999-05-09
3,Seguro Social:,71169962520,Email:,kennethdiazgonzalez@gmail.com,NaN,NaN
4,Dirección:,Fraccionamiento Vista Real MZ 45 Lt 4 #51 Cerr...,Fraccionamiento Vista Real MZ 45 Lt 4 #51 Cerr...,Fraccionamiento Vista Real MZ 45 Lt 4 #51 Cerr...,Tiempo Residencia:,mas de 10 años
5,Teléfono Casa:,9985801914,Teléfono Celular:,9983174867,Teléfono Trabajo:,NaN
6,Trabaja Actualmente:,NO,Nombre de la Empresa donde Trabaja:,NaN,Dirección del Trabajo:,NaN
7,Datos Familiares,Datos Familiares,Datos Familiares,Datos Familiares,Datos Familiares,Datos Familiares
8,Nombre del Papá:,José Antonio Díaz Jimenez,Nombre de la Mamá:,Yenismeria González González,Estado Civil de Papás:,- Elige el Estado Civil - Soltero(a) Casado(a)...
9,Lugar de nacimiento,Lugar de nacimiento,Lugar de nacimiento,Lugar de nacimiento,Lugar de nacimiento,Lugar de nacimiento
10,País:,- Elige un Pais - AFGANISTAN ALBANIA ALEMANIA ...,- Elige un Pais - AFGANISTAN ALBANIA ALEMANIA ...,- Elige un Pais - AFGANISTAN ALBANIA ALEMANIA ...,- Elige un Pais - AFGANISTAN ALBANIA ALEMANIA ...,- Elige un Pais - AFGANISTAN ALBANIA ALEMANIA ...
11,Estado:,- Elige un Estado - - Aguascalientes Baja Cali...,- Elige un Estado - - Aguascalientes Baja Cali...,- Elige un Estado - - Aguascalientes Baja Cali...,- Elige un Estado - - Aguascalientes Baja Cali...,- Elige un Estado - - Aguascalientes Baja Cali...
12,Ciudad:,- Elige la Ciudad - Acuerdo 286 Alfredo V. Bon...,- Elige la Ciudad - Acuerdo 286 Alfredo V. Bon...,- Elige la Ciudad - Acuerdo 286 Alfredo V. Bon...,- Elige la Ciudad - Acuerdo 286 Alfredo V. Bon...,- Elige la Ciudad - Acuerdo 286 Alfredo V. Bon...
13,Escuela de procedencia medio superior,Escuela de procedencia medio superior,Escuela de procedencia medio superior,Escuela de procedencia medio superior,Escuela de procedencia medio superior,Escuela de procedencia medio superior
14,Pais:,- Elige un Pais - AFGANISTAN ALBANIA ALEMANIA ...,- Elige un Pais - AFGANISTAN ALBANIA ALEMANIA ...,- Elige un Pais - AFGANISTAN ALBANIA ALEMANIA ...,- Elige un Pais - AFGANISTAN ALBANIA ALEMANIA ...,- Elige un Pais - AFGANISTAN ALBANIA ALEMANIA ...
15,Estado:,- Elige un Estado - - Aguascalientes Baja Cali...,- Elige un Estado - - Aguascalientes Baja Cali...,- Elige un Estado - - Aguascalientes Baja Cali...,- Elige un Estado - - Aguascalientes Baja Cali...,- Elige un Estado - - Aguascalientes Baja Cali...
16,Municipio:,Benito Juárez,Benito Juárez,Localidad:,Cancún,Cancún
17,Escuela:,Centro de Bachillerato Tecnológico Industrial ...,Centro de Bachillerato Tecnológico Industrial ...,Centro de Bachillerato Tecnológico Industrial ...,Centro de Bachillerato Tecnológico Industrial ...,Centro de Bachillerato Tecnológico Industrial ...
18,Plantel:,Núm. 111,Regimen:,Público,Nivel:,BAC
19,Accesibilidad,Accesibilidad,Accesibilidad,Accesibilidad,Accesibilidad,Accesibilidad
20,Tiene alguna Discapacidad:,NO,Discapacidad:,NaN,NaN,NaN
21,Datos Adicionales,Datos Adicionales,Datos Adicionales,Datos Adicionales,Datos Adicionales,Datos Adicionales
22,¿Tienes ascendencia maya?:,NO,¿Hablas la lengua maya?:,NO,¿Escribes la lengua maya?:,NaN
23,Información Extra Académica:,Información Extra Académica:,Información Extra Académica:,Información Extra Académica:,Información Extra Académica:,Información Extra Académica:

In [11]:
def getData(row, col):
    return(datos.iloc[row, col])

In [12]:
username = getData(0, 5)
username = string.capwords(username)
username

'Kenneth'

In [13]:
first_lastname = getData(0, 1)
first_lastname = string.capwords(first_lastname)
first_lastname

'Diaz'

In [14]:
second_lastname = getData(0, 3)
second_lastname = string.capwords(second_lastname)
second_lastname

'Gonzalez'

In [15]:
curp = getData(1, 3)
curp

'DIGK990509HQRZNN01'

In [16]:
rfc = getData(1, 1)
rfc

nan

In [17]:
nationality = getData(2, 3)
nationality

'Mexicano'

In [18]:
nss = getData(3, 1)
nss

'71169962520'

In [19]:
personal_email = getData(3, 3)
personal_email

'kennethdiazgonzalez@gmail.com'

In [20]:
birthday = getData(2, 5)
birthday

'1999-05-09'

In [21]:
sex = getData(1, 5)
sex

'Masculino'

In [22]:
personal_phone = getData(5, 3)
personal_phone

'9983174867'

In [23]:
home_phone = getData(5, 1)
home_phone

'9985801914'

In [24]:
dropdown = driver.find_element(By.XPATH, "/html/body/center/table/tbody/tr[4]/td[1]/select")
dropdown = Select(dropdown)
marital_status = dropdown.first_selected_option.text
marital_status

'Soltero(a)'

In [25]:
personal_address = getData(4, 1)
personal_address

'Fraccionamiento Vista Real MZ 45 Lt 4 #51 Cerrada Monte Montcabrer'

In [26]:
dropdown = driver.find_element(By.XPATH, "/html/body/center/table/tbody/tr[12]/td/select")
dropdown = Select(dropdown)
birthplace_country = dropdown.first_selected_option.text
birthplace_country

'MEXICO'

In [27]:
birthplace_country_code = driver.find_element(By.XPATH, "/html/body/center/table/tbody/tr[12]/td/select")
birthplace_country_code = birthplace_country_code.get_attribute("value")
birthplace_country_code

'MX'

In [28]:
dropdown = driver.find_element(By.XPATH, "/html/body/center/table/tbody/tr[13]/td/span/select")
dropdown = Select(dropdown)
birthplace_state = dropdown.first_selected_option.text
birthplace_state

'Quintana Roo'

In [29]:
dropdown = driver.find_element(By.XPATH, "/html/body/center/table/tbody/tr[14]/td/span/select")
dropdown = Select(dropdown)
birthplace_city = dropdown.first_selected_option.text
birthplace_city

'Cancún'

In [30]:
father_fullname = getData(8, 1)
father_fullname

'José Antonio Díaz Jimenez'

In [31]:
mother_fullname = getData(8, 3)
mother_fullname

'Yenismeria González González'

In [32]:
dropdown = driver.find_element(By.XPATH, "/html/body/center/table/tbody/tr[10]/th[4]/select")
dropdown = Select(dropdown)
parents_marital_status = dropdown.first_selected_option.text
parents_marital_status

'Divorciado(a)'

In [33]:
dropdown = driver.find_element(By.XPATH, "/html/body/center/table/tbody/tr[16]/td/select")
dropdown = Select(dropdown)
highschool_country = dropdown.first_selected_option.text
highschool_country

'MEXICO'

In [34]:
dropdown = driver.find_element(By.XPATH, "/html/body/center/table/tbody/tr[17]/td/span/select")
dropdown = Select(dropdown)
highschool_state = dropdown.first_selected_option.text
highschool_state

'Quintana Roo'

In [35]:
highschool_municipality_county = getData(16, 1)
highschool_municipality_county

'Benito Juárez'

In [36]:
highschool_city = getData(16, 4)
highschool_city

'Cancún'

In [37]:
highschool_school = getData(17, 1)
highschool_school

'Centro de Bachillerato Tecnológico Industrial y de Servicios'

In [38]:
highschool_campus = getData(18, 1)
highschool_campus

'Núm. 111'

In [39]:
school_system = getData(18, 3)
school_system

'Público'

In [40]:
working = getData(6, 1)
if working == "NO":
    working = False
else:
    working = True
working

False

In [41]:
company_name = getData(6, 3)
company_name

nan

In [42]:
company_address = getData(6, 5)
company_address

nan

In [43]:
work_phone = getData(5, 5)
work_phone

nan

In [44]:
horarioBoleta =  driver.find_element(By.XPATH, '/html/body/div[1]/div/div/div/div/div/ul[2]/li[4]/a')
horarioBoleta.click()

In [45]:
# Extraer la tabla usando webscrapping
dfs = pd.read_html(driver.page_source)
datos = dfs[0]

In [46]:
datos

               Datos                                            Datos.1
0        Estudiante:                170300075 - DIAZ GONZALEZ / KENNETH
1  Plan de Estudios:  2016ID / Ingeniería en Datos e Inteligencia Or...
2         Situación:                                            Regular
3           Estatus:                                           Inscrito
4      Nacionalidad:                                                MEX
5   Servicio Social:                                                ---

In [47]:
career_name = datos.iloc[1,1].split(" / ")[1]
career_name

'Ingeniería en Datos e Inteligencia Organizacional'

In [48]:
situation = datos.iloc[2,1]
situation

'Regular'

In [49]:
status = datos.iloc[3, 1]
status

'Inscrito'

In [50]:
social_service = datos.iloc[5, 1]
if social_service == "---":
    social_service = False
else:
    social_service = True
social_service

False

In [51]:
study_plan = datos.iloc[1,1].split(" / ")[0]
study_plan

'2016ID'

In [52]:
department = "Ciencias Básicas e Ingenierías"

In [53]:
personal_information = {
    "id_user" : id_user,
    "password" : password,
    "username" : username,
    "first_lastname" : first_lastname,
    "second_lastname" : second_lastname,
    "curp" : curp,
    "rfc" : rfc,
    "nationality" : nationality,
    "nss" : nss,
    "personal_email" : personal_email,
    "birthday" : birthday,
    "sex" : sex,
    "personal_phone" : personal_phone,
    "home_phone" : home_phone,
    "marital_status" : marital_status,
    "personal_address" : personal_address,
    "birthplace" : {
        "country" : birthplace_country,
        "country_code" : birthplace_country_code,
        "state": birthplace_state,
        "city" : birthplace_city
    },
    "parents" : {
        "father_fullname" : father_fullname,
        "mother_fullname" : mother_fullname,
        "parents_marital_status" : parents_marital_status 
    },
    "highschool" : {
        "country" : highschool_country,
        "state" : highschool_state,
        "municipality/county" : highschool_municipality_county,
        "city" : highschool_city,
        "school" : highschool_school,
        "campus" : highschool_campus,
        "school_system" : school_system
    },
    "career" : {
        "name" : career_name, 
        "situation" : situation, 
        "status" : status, 
        "social_service" : social_service, 
        "study_plan" : study_plan, 
        "department" : department
    },
    "job" : {
        "working": working, 
        "name" : company_name, 
        "address" : company_address, 
        "phone" : work_phone
    }
}

In [54]:
# Reemplazar una llave de un diccionario
# por un false
def replace_nan(dictionary, key):
    dictionary[key] = False

In [55]:
# Encontrar y reemplazar valores nan por False
# en el diccionario
def find_nan(dictionary):
    for k, v in dictionary.items():
        if type(v) == dict:
            find_nan(v)

        else:
            if pd.isnull(v):
                dictionary[k] = False

In [56]:
find_nan(personal_information)
personal_information

{'id_user': '170300075',
 'password': 'Maripau01',
 'username': 'Kenneth',
 'first_lastname': 'Diaz',
 'second_lastname': 'Gonzalez',
 'curp': 'DIGK990509HQRZNN01',
 'rfc': False,
 'nationality': 'Mexicano',
 'nss': '71169962520',
 'personal_email': 'kennethdiazgonzalez@gmail.com',
 'birthday': '1999-05-09',
 'sex': 'Masculino',
 'personal_phone': '9983174867',
 'home_phone': '9985801914',
 'marital_status': 'Soltero(a)',
 'personal_address': 'Fraccionamiento Vista Real MZ 45 Lt 4 #51 Cerrada Monte Montcabrer',
 'birthplace': {'country': 'MEXICO',
  'country_code': 'MX',
  'state': 'Quintana Roo',
  'city': 'Cancún'},
 'parents': {'father_fullname': 'José Antonio Díaz Jimenez',
  'mother_fullname': 'Yenismeria González González',
  'parents_marital_status': 'Divorciado(a)'},
 'highschool': {'country': 'MEXICO',
  'state': 'Quintana Roo',
  'municipality/county': 'Benito Juárez',
  'city': 'Cancún',
  'school': 'Centro de Bachillerato Tecnológico Industrial y de Servicios',
  'campus': 'Núm. 111',
  'school_system': 'Público'},
 'career': {'name': 'Ingeniería en Datos e Inteligencia Organizacional',
  'situation': 'Regular',
  'status': 'Inscrito',
  'social_service': False,
  'study_plan': '2016ID',
  'department': 'Ciencias Básicas e Ingenierías'},
 'job': {'working': False, 'name': False, 'address': False, 'phone': False}}

In [57]:
# Importamos la biblioteca
import pymongo
from pymongo import MongoClient

In [58]:
client = MongoClient(MONGODB_URI)

In [59]:
db = client["sure"]

In [60]:
collection = db["users"]

In [61]:
collection.insert_one(personal_information)

In [62]:
logout = driver.find_element(By.XPATH, '/html/body/div[2]/div/form/a')
logout.click()
# Cerrar el navegador
driver.quit()