In [1]:
# Selenium webdriver
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
# Waited conditionals for Selenium
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

# Dropdown selection support for selenium
from selenium.webdriver.support.select import Select
# Data Manipulations libraries
import pandas as pd
# Regular expressions library
import re
# Datetime functionalities
import time
# String manipulation
import string
# Mathematical operations
import numpy as np
# Biblioteca para leer archivos
import os
# Biblioteca para leer .env
from dotenv import load_dotenv
# Importamos la biblioteca para MongoDB
import pymongo
from pymongo import MongoClient
# Importar biblioteca para MySQL
from sqlalchemy import create_engine

## Usefull functions for the project

In [2]:
def initializeWebDriver():
    """
    This function enable to use the user browser to run automatizated 
    scripts to interact with it 
    """
    # Open the web browser
    driver = webdriver.Chrome()
    # Maximize the window
    driver.maximize_window()
    
    return(driver)

In [3]:
def loginSIGMAA(driver, id_user, password):
    """
    Allows to login using user credentials into
    the SIGMAA
    """
    # Acceder al SIGMAA
    url = 'https://uclb.ucaribe.edu.mx/sigmaav2/'
    driver.get(url)

    # Buscar el campo de usuario y escribir el username
    userinput = driver.find_element(By.XPATH, '/html/body/div[2]/form/div/span[2]/input')
    userinput.send_keys(id_user)
    # Buscar el campo de contraseña y escribir el password
    passinput = driver.find_element(By.XPATH, '/html/body/div[2]/form/div/input')
    passinput.send_keys(password)
    # Buscar el botón de submit y dar clic para iniciar sesión
    submitinput = driver.find_element(By.XPATH, '/html/body/div[2]/form/button')
    submitinput.click()

In [4]:
def getData(df, row, col):
    """
    This function allow us to fetch data depending on 
    a col and row number from a python dataframe
    """
    return(df.iloc[row, col])

In [5]:
def replaceNull(dictionary):
    """
    This function allows to replace nan values
    to False values
    """
    for k, v in dictionary.items():
        if type(v) == dict:
            replaceNull(v)

        else:
            if pd.isnull(v):
                dictionary[k] = False

In [6]:
def getPersonalInfo(driver, id_user, password):
    """
    This function allow us to fetch all student 
    data from the personal information section on SIGMAA
    """
    personal_information_section = driver.find_element(By.XPATH, '/html/body/div[1]/div/div/div/div/div/ul[2]/li[6]/a')
    personal_information_section.click()

    # Extraer la tabla usando webscrapping
    dfs = pd.read_html(driver.page_source)
    df = dfs[1]
    
    # Obtener el nombre
    username = getData(df, 0, 5)
    username = string.capwords(username)
    
    # Obtener el primer apellido
    first_lastname = getData(df, 0, 1)
    first_lastname = string.capwords(first_lastname)

    # Obtener el segundo apellido
    second_lastname = getData(df, 0, 3)
    second_lastname = string.capwords(second_lastname)

    # Obtener la CURP
    curp = getData(df, 1, 3)

    # Obtener el RFC
    rfc = getData(df, 1, 1)

    # Obtener la nacionalidad
    nationality = getData(df, 2, 3)

    # Obtener numero de seguridad social
    nss = getData(df, 3, 1)

    # Obtener correo personal
    personal_email = getData(df, 3, 3)

    birthday = getData(df, 2, 5)

    sex = getData(df, 1, 5)

    personal_phone = getData(df, 5, 3)

    home_phone = getData(df, 5, 1)

    dropdown = driver.find_element(By.XPATH, "/html/body/center/table/tbody/tr[4]/td[1]/select")
    dropdown = Select(dropdown)
    marital_status = dropdown.first_selected_option.text

    personal_address = getData(df, 4, 1)

    dropdown = driver.find_element(By.XPATH, "/html/body/center/table/tbody/tr[12]/td/select")
    dropdown = Select(dropdown)
    birthplace_country = dropdown.first_selected_option.text

    birthplace_country_code = driver.find_element(By.XPATH, "/html/body/center/table/tbody/tr[12]/td/select")
    birthplace_country_code = birthplace_country_code.get_attribute("value")

    dropdown = driver.find_element(By.XPATH, "/html/body/center/table/tbody/tr[13]/td/span/select")
    dropdown = Select(dropdown)
    birthplace_state = dropdown.first_selected_option.text

    dropdown = driver.find_element(By.XPATH, "/html/body/center/table/tbody/tr[14]/td/span/select")
    dropdown = Select(dropdown)
    birthplace_city = dropdown.first_selected_option.text

    father_fullname = getData(df, 8, 1)

    mother_fullname = getData(df, 8, 3)

    dropdown = driver.find_element(By.XPATH, "/html/body/center/table/tbody/tr[10]/th[4]/select")
    dropdown = Select(dropdown)
    parents_marital_status = dropdown.first_selected_option.text

    dropdown = driver.find_element(By.XPATH, "/html/body/center/table/tbody/tr[16]/td/select")
    dropdown = Select(dropdown)
    highschool_country = dropdown.first_selected_option.text

    dropdown = driver.find_element(By.XPATH, "/html/body/center/table/tbody/tr[17]/td/span/select")
    dropdown = Select(dropdown)
    highschool_state = dropdown.first_selected_option.text

    highschool_municipality_county = getData(df, 16, 1)

    highschool_city = getData(df, 16, 4)

    highschool_school = getData(df, 17, 1)

    highschool_campus = getData(df, 18, 1)

    school_system = getData(df, 18, 3)

    working = getData(df, 6, 1)
    if working == "NO":
        working = False
    else:
        working = True

    company_name = getData(df, 6, 3)

    company_address = getData(df, 6, 5)

    work_phone = getData(df, 5, 5)

    horarioBoleta =  driver.find_element(By.XPATH, '/html/body/div[1]/div/div/div/div/div/ul[2]/li[4]/a')
    horarioBoleta.click()

    # Extraer la tabla usando webscrapping
    dfs = pd.read_html(driver.page_source)
    df = dfs[0]

    career_name = getData(df, 1, 1).split(" / ")[1]

    situation = getData(df, 2, 1)

    status = getData(df, 3, 1)

    social_service = getData(df, 5, 1)
    if social_service == "---":
        social_service = False
    else:
        social_service = True

    study_plan = getData(df, 1, 1).split(" / ")[0]

    # Datos pendientes por asignar
    department = "Ciencias Básicas e Ingenierías"
    profile_picture = "profiles/170300075.jpg"
    current_practices = "PID0201"

    personal_information = {
        "id_user" : id_user,
        "password" : password,
        "username" : username,
        "first_lastname" : first_lastname,
        "second_lastname" : second_lastname,
        "profile_picture" : profile_picture,
        "curp" : curp,
        "rfc" : rfc,
        "nationality" : nationality,
        "nss" : nss,
        "personal_email" : personal_email,
        "birthday" : birthday,
        "sex" : sex,
        "personal_phone" : personal_phone,
        "home_phone" : home_phone,
        "marital_status" : marital_status,
        "personal_address" : personal_address,
        "birthplace" : {
            "country" : birthplace_country,
            "country_code" : birthplace_country_code,
            "state": birthplace_state,
            "city" : birthplace_city
        },
        "parents" : {
            "father_fullname" : father_fullname,
            "mother_fullname" : mother_fullname,
            "parents_marital_status" : parents_marital_status 
        },
        "highschool" : {
            "country" : highschool_country,
            "state" : highschool_state,
            "municipality/county" : highschool_municipality_county,
            "city" : highschool_city,
            "school" : highschool_school,
            "campus" : highschool_campus,
            "school_system" : school_system
        },
        "career" : {
            "name" : career_name, 
            "situation" : situation, 
            "status" : status, 
            "social_service" : social_service,
            "current_practices"  : current_practices,
            "study_plan" : study_plan, 
            "department" : department
        },
        "job" : {
            "working": working, 
            "name" : company_name, 
            "address" : company_address, 
            "phone" : work_phone
        }
    }

    replaceNull(personal_information)
    return(personal_information)

In [7]:
def logoutSIGMAA(driver):
    """
    Allows to close logout from SIGMAA
    """
    # Encontrar el botón de cierre de sesión
    logout = driver.find_element(By.XPATH, '/html/body/div[2]/div/form/a')
    # Clic para cerrar sesión
    logout.click()

In [8]:
def openMySQL(uri):
    """
    Creates a connection to database
    """
    engine = create_engine(uri + "?ssl=true")
    return(engine)

In [9]:
def closeMySQL(engine):
    """
    Closes a MySQL connection
    """
    engine.dispose()

In [10]:
def openMongoDB(uri):
    """
    Allows to open a mongoDB connection
    """
    client = MongoClient(uri)
    return(client)

In [11]:
def closeMongoDB(client):
    """
    Allows to close a mongoDB connection
    """
    client.close()

In [12]:
def loadEnvs(path):
    """
    This function returns all the environmental variables
    used to stablish database connections in both MySQL and MongoDB
    """
    load_dotenv(path)
    id_user = os.getenv('ID')
    password = os.getenv('PASS')
    MYSQL_ADDON_URI = os.getenv('MYSQL_ADDON_URI')
    MONGODB_URI = os.getenv('MONGODB_URI')
    
    return({"id_user": id_user, 
            "password" : password, 
            "MYSQL_ADDON_URI" : MYSQL_ADDON_URI, 
            "MONGODB_URI" : MONGODB_URI})

In [13]:
def getAcademicOffer(driver, study_plan):
    # Ir a la sección de las tablas de la oferta académica
    academic_offer_section = driver.find_element(By.XPATH, '/html/body/div[1]/div/div/div/div/div/ul[2]/li[1]/a')
    academic_offer_section.click()

    # xpath de pestañas
    tabs = [
        # Secciones
        '/html/body/center/ul/li[1]/a',
        # Talleres
        '/html/body/center/ul/li[2]/a',
        # Lengua Extranjera
        '/html/body/center/ul/li[3]/a'
    ]

    dataframes = dict()

    # Recorremos las pestañas y las enumeramos
    for index, t in enumerate(tabs):
        # Cambiamos a cada pestaña
        tab = driver.find_element(By.XPATH, t)
        tab.click() 

        # Extraer las tablas de la pestaña actual
        dfs = pd.read_html(driver.page_source)

        # Si el indice de la pestaña es 0
        if index == 0:
            # Nombres para las columnas
            columns = ['Tipo', 'Clave', 'Seccion', 'Asignatura', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'U1', 'U2', 'U3', 'U4']
        else:
            # Nombres para las columnas
            columns = ['Clave', 'Seccion', 'Asignatura', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'U1', 'U2', 'U3', 'U4', 'U5']

        # Columnas que se desean conservar
        desired_columns = [ 'Clave', 'Seccion', 'Asignatura', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado']

        # Recorre cada tabla en la pestaña actual
        for i in range(1, len(dfs)):
            # Renombra las columnas
            dfs[i] = dfs[i].set_axis(columns, axis=1)
            # Mantiene las columnas deseadas
            dfs[i] = dfs[i].loc[:, dfs[i].columns.isin(desired_columns)]

        # Para cada tabla en la pestaña actual
        for j in range(1, len(dfs)):
            # guardamos la tabla actual en una variable
            mydf = dfs[j]

            # Lista para guardar los tres campos a separa 
            # de la columna asignatura
            splits = []
            # Extraemos la lista de las asignaturas
            my_string = mydf['Asignatura']

            # Para cada asignatura
            for i in range(len(my_string)):
                # Dividimos la asignatura un espacio
                my_list = my_string[i].split('  ')
                # Los tres campos regresados se almacennan en una lista
                splits.append(my_list)

            # Tenemos tres listas nuevas
            # Para asignaturas
            subjects = []
            # Para profesores
            teachers = []
            # Para modalidades
            modalities = []

            # Para cada asignatura procesada
            # asignamos un dato a la lista correspondiente
            for i in splits:
                subjects.append(i[0])
                teachers.append(i[1])
                modalities.append(i[2])

            # Sobreescribimos la columna de asignaturas
            mydf['Asignatura'] = subjects

            # Insertamos a los profesores al dataframe
            mydf.insert(3, 'Profesor', teachers)
            # Insertamos las modalidades al dataframe
            mydf.insert(4, 'Modalidad', modalities)

            table_name = ""

            # Nombramos las tablas de acuerdo a su indice en las pestañas
            if index == 0:
                table_name = 'secciones_' + study_plan.lower()
            elif index == 1:
                table_name = 'talleres_' + study_plan.lower()
            else:
                table_name = 'lengua_extranjera_' + study_plan.lower()

            if j == 1:
                dataframes[table_name] = mydf
            else:
                dataframes[table_name].append(mydf)
    return(dataframes)

In [14]:
def getGrades(driver):
    """
    This function allows to obtain the average grades tables from SIGMAA
    and returns a dictionary where the key is the period and the value is
    the dataframe with the data
    """
    # Ir a la sección de la boleta escolar
    school_grades_section = driver.find_element(By.XPATH, '/html/body/div[1]/div/div/div/div/div/ul[2]/li[4]/a')
    school_grades_section.click()


    # Selecionar el munu desplehable del periodo de escolar
    select = driver.find_element(By.XPATH, "/html/body/center/form/select")
    select = Select(select)

    # Obtener todos los posibles valores de menu desplegable
    periods = [[option.get_attribute("value"), option.text] for option in select.options]

    grades = dict()

    for period, text in periods:
        if period != "":
            print("=======================================")
            print("Periodo escolar: ", text, end = "\n\n")
            # Selecionar el munu desplehable del periodo de escolar
            dropdown = driver.find_element(By.XPATH, "/html/body/center/form/select")
            dropdown.send_keys(text)

            # Consultar ese periodo
            button = driver.find_element(By.XPATH, '/html/body/center/form/input[4]')
            button.click()

            # Obtener la tabla de calificaciones
            dfs = pd.read_html(driver.page_source)
            school_grades = dfs[1]

            # Cambiar nombre de columnas
            columns = ['no.', 'type', 'section', 'subject', 'first_partial', 'second_partial', 'third_partial', 'average', 'final_grade', 'U1', 'U2']

            # Limpieza del dataframe de boleta
            # Cambiar nombre de columnas
            school_grades = school_grades.set_axis(columns, axis = 1)
            # Eliminar columnas no deseadas
            school_grades = school_grades.drop(['U1', 'U2'], axis = 1)
            # Eliminar filas con valores nulos
            school_grades.dropna(how = 'all', inplace = True)

            print("Nombre de columnas")
            print(list(school_grades.columns), end = "\n\n")

            print("Dataframe de boleta")
            print(school_grades, end = "\n\n")

            # Lista para guardar los tres campos a separa 
            # de la columna asignatura
            splits = []
            # Extraemos la lista de las asignaturas
            my_string = school_grades["subject"]

            # Para cada asignatura
            for i in range(len(my_string)):
                print("i: ", i)
                # Dividimos la asignatura un espacio
                my_list = my_string[i].split("  ")
                print("my_list = my_string[i].split('  '): ", my_list, end = "\n\n")

                # Separar la clave de asignatura
                my_list.insert(1, re.match(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4}", my_list[0]).group(0))
                print('my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0): ', my_list, end = "\n\n")

                # Separar el nombre de la asignatura
                my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1]
                splits.append(my_list)
                print('my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1]', my_list, end = "\n\n")

            # Tenemos tres listas nuevas
            # Para las claves de las asignaturas
            id_subjects = []
            # Para asignaturas
            subjects = []
            # Para profesores
            teachers = []
            # Para modalidades
            modalities = []

            # Para cada asignatura procesada
            # asignamos un dato a la lista correspondiente
            for i in splits:
                subjects.append(i[0])
                id_subjects.append(i[1])
                teachers.append(i[2])
                modalities.append(i[3])

            print("subjects: ", subjects)
            print("id_subjects: ", id_subjects)
            print("teachers: ", teachers)
            print("modalities: ", modalities, end = "\n\n")

            # Sobreescribimos la columna de asignaturas
            school_grades["subject"] = subjects
            school_grades.insert(3, "id_subject", id_subjects)
            school_grades.insert(4, "teacher", teachers)
            school_grades.insert(5, "modality", modalities)

            print("Nuevas columnas")
            print(school_grades.columns)

            print("Dataframe de boleta actualizado")
            print(school_grades)
            
            # Guardamos la tabla de calificaciones actual en un diccionario
            # donde la llave es el periodo y el valor es el dataframe
            grades[period] = school_grades
    
    # Retornamos el diccionario con las calificaciones de todos
    # los periodos
    return(grades)

In [15]:
def getAverageGrade(grades_table):
    """
    This function allows to obtain the final average grade where the value is quantifiable
    and where values are not nulls (it occurs when there is no a grade available in the table)
    """
    # Obtener las calificaciones finales
    # de las asignaturas cuantificables
    grades_list = [float(g) for g in grades_table["final_grade"] if g not in ["Aprobado", "Reprobado"]]

    # Lista final de calificaciones sin valores nullos
    final_grades = []
    # Para cada calificacion cuantificable
    for gl in grades_list:
        # si no es un valor nulo, se adjunta a la lista
        if not np.isnan(gl):
            final_grades.append(gl)

    # print(final_grades)
    
    # Si la cantidad de las calificaciones es mayor a 0
    if len(final_grades) > 0:
        # Se calcula el promedio
        average_grades = np.mean(final_grades)
    # Si no hay calificaciones disponibles
    else:
        # El promedio por defecto es 0
        average_grades = 0

    # Retornamos el promedio de las calificaciones finales
    # del periodo escolar
    return(average_grades)

In [16]:
def dataframe2Dict(dataframe):
    """
    This function allows to convert a dataframe to a
    dictionary (JSON like) object
    """
    # Convertir una dataframe a un diccionario
    data_dict = dataframe.to_dict("records")
    # Retornamos el diccionario
    return(data_dict)

## Get the student info when registered for first time

In [17]:
# Load environmental variables
env = loadEnvs("../../.env")

# Start the webdriver
driver = initializeWebDriver()

# Login into SIGMAA using the student credentials
loginSIGMAA(driver, 
            env["id_user"], 
            env["password"])

##########################################################
#              Get personal information                  #
##########################################################

# Get all the student information
student_information = getPersonalInfo(driver, 
                                      env["id_user"], 
                                      env["password"])

# Open a MongoDB connection
client = openMongoDB(env["MONGODB_URI"])

# Use a database and select a collection
db = client["sure"]
collection = db["users"]

# Save student information to MongoDB database
collection.insert_one(student_information)

# Close MongoDB connection
closeMongoDB(client)

##########################################################
#              Get academic offer                        #
##########################################################

# Get the academic offer
academic_offer = getAcademicOffer(driver, "2019IA")

# Open MySQL connection
engine = openMySQL(env["MYSQL_ADDON_URI"])

# Save the academic offer to mysql database
for table_name, df in academic_offer.items():
    df.to_sql(table_name, con = engine, if_exists = "replace", index = False)

# Close MySQL connection
closeMySQL(engine)

##########################################################
#              Get practices offer                       #
##########################################################


##########################################################
#              Get social service offer                  #
##########################################################


##########################################################
#              Get payments                              #
##########################################################


##########################################################
#              Get grades                                #
##########################################################

# Get all the grades tables
grades = getGrades(driver)

student_grades = {}
student_grades["id_user"] = env["id_user"]
student_grades["grades"] = {}

for period, dataframe in grades.items():
    student_grades["grades"].update({
        period : {
            "average_grades" : getAverageGrade(dataframe),
            "total_credits" : None,
            "subject_grades" : dataframe2Dict(dataframe)
        }
    })

# Open a MongoDB connection
client = openMongoDB(env["MONGODB_URI"])

# Use a database and select a collection
db = client["sure"]
collection = db["grades"]

# Save student information to MongoDB database
collection.insert_one(student_grades)

# Close MongoDB connection
closeMongoDB(client)

# Close the SIGMAA session
logoutSIGMAA(driver)

# Close the webdriver
driver.quit()

C:\Users\kenne\AppData\Local\Temp\ipykernel_1756\220568674.py:99: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframes[table_name].append(mydf)
C:\Users\kenne\AppData\Local\Temp\ipykernel_1756\220568674.py:99: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframes[table_name].append(mydf)
C:\Users\kenne\AppData\Local\Temp\ipykernel_1756\220568674.py:99: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframes[table_name].append(mydf)

=======================================
Periodo escolar:  202202 Verano

Nombre de columnas
['no.', 'type', 'section', 'subject', 'first_partial', 'second_partial', 'third_partial', 'average', 'final_grade']

Dataframe de boleta
   no. type  section                                            subject  \
0  1.0  OP1      1.0  PID0201 Prácticas Profesionales I  García Fern...

   first_partial  second_partial  third_partial  average  final_grade
0            NaN             NaN            0.0      0.0         10.0

i:  0
my_list = my_string[i].split('  '):  ['PID0201 Prácticas Profesionales I', 'García Fernández / Alejandro', 'Asignatura Presencial']

my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0):  ['PID0201 Prácticas Profesionales I', 'PID0201', 'García Fernández / Alejandro', 'Asignatura Presencial']

my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1] [' Prácticas Profesionales I', 'PID0201', 'García Fernández / Alejandro', 'Asignatura Presencial']

subjects:  [' Prácticas Profesionales I']
id_subjects:  ['PID0201']
teachers:  ['García Fernández / Alejandro']
modalities:  ['Asignatura Presencial']

Nuevas columnas
Index(['no.', 'type', 'section', 'id_subject', 'teacher', 'modality',
       'subject', 'first_partial', 'second_partial', 'third_partial',
       'average', 'final_grade'],
      dtype='object')
Dataframe de boleta actualizado
   no. type  section id_subject                       teacher  \
0  1.0  OP1      1.0    PID0201  García Fernández / Alejandro

                modality                     subject  first_partial  \
0  Asignatura Presencial   Prácticas Profesionales I            NaN

   second_partial  third_partial  average  final_grade
0             NaN            0.0      0.0         10.0
=======================================
Periodo escolar:  202201 Primavera

Nombre de columnas
['no.', 'type', 'section', 'subject', 'first_partial', 'second_partial', 'third_partial', 'average', 'final_grade']

Dataframe de boleta
   no. type  section                                            subject  \
0  1.0  OP1      4.0  II0422 Taller de emprendedores  Allende Lastra...
1  2.0  OP1      3.0  IT0263 Electrónica analógica  Márquez Chacón /...
2  3.0  OP1      2.0  ID3422 Negocios digitales  Rodríguez Santiago ...
3  4.0  OP1      1.0  ID0414 Seguridad de datos  Jiménez Sánchez / I...
4  5.0  OP1      1.0  IT3472 Principios de automatización y robótica...
5  6.0  OP1      3.0  ID0205 Geometría computacional  Álvarez Estrad...

   first_partial  second_partial  third_partial    average  final_grade
0            9.0             7.0            9.0   8.333333          8.0
1            9.0             9.0           10.0   9.333333          9.0
2            0.0             0.0            0.0   0.000000          0.0
3           10.0            10.0           10.0  10.000000         10.0
4           10.0            10.0            8.0   9.333333          9.0
5            8.0             9.0           10.0   9.000000          9.0

i:  0
my_list = my_string[i].split('  '):  ['II0422 Taller de emprendedores', 'Allende Lastra / Eduardo', 'Asignatura en Aula Remota']

my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0):  ['II0422 Taller de emprendedores', 'II0422', 'Allende Lastra / Eduardo', 'Asignatura en Aula Remota']

my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1] ['Taller de emprendedores', 'II0422', 'Allende Lastra / Eduardo', 'Asignatura en Aula Remota']

i:  1
my_list = my_string[i].split('  '):  ['IT0263 Electrónica analógica', 'Márquez Chacón / Wilberth', 'Asignatura Presencial']

my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0):  ['IT0263 Electrónica analógica', 'IT0263', 'Márquez Chacón / Wilberth', 'Asignatura Presencial']

my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1] ['Electrónica analógica', 'IT0263', 'Márquez Chacón / Wilberth', 'Asignatura Presencial']

i:  2
my_list = my_string[i].split('  '):  ['ID3422 Negocios digitales', 'Rodríguez Santiago / Juan Manuel', 'Asignatura en Aula Remota']

my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0):  ['ID3422 Negocios digitales', 'ID3422', 'Rodríguez Santiago / Juan Manuel', 'Asignatura en Aula Remota']

my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1] ['Negocios digitales', 'ID3422', 'Rodríguez Santiago / Juan Manuel', 'Asignatura en Aula Remota']

i:  3
my_list = my_string[i].split('  '):  ['ID0414 Seguridad de datos', 'Jiménez Sánchez / Ismael', 'Asignatura en Aula Remota']

my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0):  ['ID0414 Seguridad de datos', 'ID0414', 'Jiménez Sánchez / Ismael', 'Asignatura en Aula Remota']

my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1] ['Seguridad de datos', 'ID0414', 'Jiménez Sánchez / Ismael', 'Asignatura en Aula Remota']

i:  4
my_list = my_string[i].split('  '):  ['IT3472 Principios de automatización y robótica', 'Landaverde Lorenzo / Pablo Jacob', 'Asignatura Presencial']

my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0):  ['IT3472 Principios de automatización y robótica', 'IT3472', 'Landaverde Lorenzo / Pablo Jacob', 'Asignatura Presencial']

my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1] ['Principios de automatización y robótica', 'IT3472', 'Landaverde Lorenzo / Pablo Jacob', 'Asignatura Presencial']

i:  5
my_list = my_string[i].split('  '):  ['ID0205 Geometría computacional', 'Álvarez Estrada / José Enrique', 'Asignatura Presencial']

my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0):  ['ID0205 Geometría computacional', 'ID0205', 'Álvarez Estrada / José Enrique', 'Asignatura Presencial']

my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1] ['Geometría computacional', 'ID0205', 'Álvarez Estrada / José Enrique', 'Asignatura Presencial']

subjects:  ['Taller de emprendedores', 'Electrónica analógica', 'Negocios digitales', 'Seguridad de datos', 'Principios de automatización y robótica', 'Geometría computacional']
id_subjects:  ['II0422', 'IT0263', 'ID3422', 'ID0414', 'IT3472', 'ID0205']
teachers:  ['Allende Lastra / Eduardo', 'Márquez Chacón / Wilberth', 'Rodríguez Santiago / Juan Manuel', 'Jiménez Sánchez / Ismael', 'Landaverde Lorenzo / Pablo Jacob', 'Álvarez Estrada / José Enrique']
modalities:  ['Asignatura en Aula Remota', 'Asignatura Presencial', 'Asignatura en Aula Remota', 'Asignatura en Aula Remota', 'Asignatura Presencial', 'Asignatura Presencial']

Nuevas columnas
Index(['no.', 'type', 'section', 'id_subject', 'teacher', 'modality',
       'subject', 'first_partial', 'second_partial', 'third_partial',
       'average', 'final_grade'],
      dtype='object')
Dataframe de boleta actualizado
   no. type  section id_subject                           teacher  \
0  1.0  OP1      4.0     II0422          Allende Lastra / Eduardo
1  2.0  OP1      3.0     IT0263         Márquez Chacón / Wilberth
2  3.0  OP1      2.0     ID3422  Rodríguez Santiago / Juan Manuel
3  4.0  OP1      1.0     ID0414          Jiménez Sánchez / Ismael
4  5.0  OP1      1.0     IT3472  Landaverde Lorenzo / Pablo Jacob
5  6.0  OP1      3.0     ID0205    Álvarez Estrada / José Enrique

                    modality                                  subject  \
0  Asignatura en Aula Remota                  Taller de emprendedores
1      Asignatura Presencial                    Electrónica analógica
2  Asignatura en Aula Remota                       Negocios digitales
3  Asignatura en Aula Remota                       Seguridad de datos
4      Asignatura Presencial  Principios de automatización y robótica
5      Asignatura Presencial                  Geometría computacional

   first_partial  second_partial  third_partial    average  final_grade
0            9.0             7.0            9.0   8.333333          8.0
1            9.0             9.0           10.0   9.333333          9.0
2            0.0             0.0            0.0   0.000000          0.0
3           10.0            10.0           10.0  10.000000         10.0
4           10.0            10.0            8.0   9.333333          9.0
5            8.0             9.0           10.0   9.000000          9.0
=======================================
Periodo escolar:  202103 Otoño

Nombre de columnas
['no.', 'type', 'section', 'subject', 'first_partial', 'second_partial', 'third_partial', 'average', 'final_grade']

Dataframe de boleta
   no. type  section                                            subject  \
0  1.0  OP1      2.0  IT0107 Técnicas algorítmicas  Báez López / Yar...
1  2.0  OP1      1.0  IT0208 Electrónica digital  René / Mónica Patr...
2  3.0  OP1      1.0  ID3466 Gobierno de datos y redes sociales  Lop...
3  4.0  OP1      2.0  ID0412 Métodos de desarrollo de software  Agua...
4  5.0  OP1      1.0  II0320 Ecuaciones diferenciales  Gutierrez Esn...

   first_partial  second_partial  third_partial   average  final_grade
0            8.0             9.0            9.0  8.666667          9.0
1            6.0             7.0           10.0  7.666667          8.0
2            7.0             8.0           10.0  8.333333          8.0
3           10.0             9.0            9.0  9.333333          9.0
4           10.0             8.0            9.0  9.000000          9.0

i:  0
my_list = my_string[i].split('  '):  ['IT0107 Técnicas algorítmicas', 'Báez López / Yarely', 'Asignatura Mixta']

my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0):  ['IT0107 Técnicas algorítmicas', 'IT0107', 'Báez López / Yarely', 'Asignatura Mixta']

my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1] ['Técnicas algorítmicas', 'IT0107', 'Báez López / Yarely', 'Asignatura Mixta']

i:  1
my_list = my_string[i].split('  '):  ['IT0208 Electrónica digital', 'René / Mónica Patricia', 'Asignatura en Aula Remota']

my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0):  ['IT0208 Electrónica digital', 'IT0208', 'René / Mónica Patricia', 'Asignatura en Aula Remota']

my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1] ['Electrónica digital', 'IT0208', 'René / Mónica Patricia', 'Asignatura en Aula Remota']

i:  2
my_list = my_string[i].split('  '):  ['ID3466 Gobierno de datos y redes sociales', 'Lopez Perez / Myriam', 'Asignatura en Línea']

my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0):  ['ID3466 Gobierno de datos y redes sociales', 'ID3466', 'Lopez Perez / Myriam', 'Asignatura en Línea']

my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1] ['Gobierno de datos y redes sociales', 'ID3466', 'Lopez Perez / Myriam', 'Asignatura en Línea']

i:  3
my_list = my_string[i].split('  '):  ['ID0412 Métodos de desarrollo de software', 'Aguas García / Nancy', 'Asignatura Mixta']

my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0):  ['ID0412 Métodos de desarrollo de software', 'ID0412', 'Aguas García / Nancy', 'Asignatura Mixta']

my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1] ['Métodos de desarrollo de software', 'ID0412', 'Aguas García / Nancy', 'Asignatura Mixta']

i:  4
my_list = my_string[i].split('  '):  ['II0320 Ecuaciones diferenciales', 'Gutierrez Esnaurrizar / Rina', 'Asignatura en Línea']

my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0):  ['II0320 Ecuaciones diferenciales', 'II0320', 'Gutierrez Esnaurrizar / Rina', 'Asignatura en Línea']

my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1] ['Ecuaciones diferenciales', 'II0320', 'Gutierrez Esnaurrizar / Rina', 'Asignatura en Línea']

subjects:  ['Técnicas algorítmicas', 'Electrónica digital', 'Gobierno de datos y redes sociales', 'Métodos de desarrollo de software', 'Ecuaciones diferenciales']
id_subjects:  ['IT0107', 'IT0208', 'ID3466', 'ID0412', 'II0320']
teachers:  ['Báez López / Yarely', 'René / Mónica Patricia', 'Lopez Perez / Myriam', 'Aguas García / Nancy', 'Gutierrez Esnaurrizar / Rina']
modalities:  ['Asignatura Mixta', 'Asignatura en Aula Remota', 'Asignatura en Línea', 'Asignatura Mixta', 'Asignatura en Línea']

Nuevas columnas
Index(['no.', 'type', 'section', 'id_subject', 'teacher', 'modality',
       'subject', 'first_partial', 'second_partial', 'third_partial',
       'average', 'final_grade'],
      dtype='object')
Dataframe de boleta actualizado
   no. type  section id_subject                       teacher  \
0  1.0  OP1      2.0     IT0107           Báez López / Yarely
1  2.0  OP1      1.0     IT0208        René / Mónica Patricia
2  3.0  OP1      1.0     ID3466          Lopez Perez / Myriam
3  4.0  OP1      2.0     ID0412          Aguas García / Nancy
4  5.0  OP1      1.0     II0320  Gutierrez Esnaurrizar / Rina

                    modality                             subject  \
0           Asignatura Mixta               Técnicas algorítmicas
1  Asignatura en Aula Remota                 Electrónica digital
2        Asignatura en Línea  Gobierno de datos y redes sociales
3           Asignatura Mixta   Métodos de desarrollo de software
4        Asignatura en Línea            Ecuaciones diferenciales

   first_partial  second_partial  third_partial   average  final_grade
0            8.0             9.0            9.0  8.666667          9.0
1            6.0             7.0           10.0  7.666667          8.0
2            7.0             8.0           10.0  8.333333          8.0
3           10.0             9.0            9.0  9.333333          9.0
4           10.0             8.0            9.0  9.000000          9.0
=======================================
Periodo escolar:  202101 Primavera

Nombre de columnas
['no.', 'type', 'section', 'subject', 'first_partial', 'second_partial', 'third_partial', 'average', 'final_grade']

Dataframe de boleta
   no. type  section                                            subject  \
0  1.0  OP1      1.0  IT0104 Matemáticas discretas  Manzano Pinzón /...
1  2.0  OP1      3.0  II0209 Cálculo integral  Gutierrez Esnaurrizar...
2  3.0  OP1      2.0  ID0205 Geometría computacional  Álvarez Estrad...
3  4.0  OP1      1.0  ID3468 Herramientas para la gestión de grandes...
4  5.0  OP1      2.0  ID0307 Ingeniería de software  Serrano Ruiz / ...
5  6.0  OP1      2.0  ID0310 Minería de datos  Gómez García / Hector...
6  7.0  OP1      5.0  IT0263 Electrónica analógica  René / Mónica Pa...

   first_partial  second_partial  third_partial   average  final_grade
0            7.0             7.0            8.0  7.333333          7.0
1           10.0             9.0            8.0  9.000000          9.0
2            6.0             5.0            5.0  5.333333          5.0
3            7.0             7.0            8.0  7.333333          8.0
4           10.0             9.0            9.0  9.333333          9.0
5            9.0             3.0            5.0  5.666667          7.0
6            8.0             6.0            3.0  5.666667          6.0

i:  0
my_list = my_string[i].split('  '):  ['IT0104 Matemáticas discretas', 'Manzano Pinzón / Francisco', 'Asignatura en Aula Remota']

my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0):  ['IT0104 Matemáticas discretas', 'IT0104', 'Manzano Pinzón / Francisco', 'Asignatura en Aula Remota']

my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1] ['Matemáticas discretas', 'IT0104', 'Manzano Pinzón / Francisco', 'Asignatura en Aula Remota']

i:  1
my_list = my_string[i].split('  '):  ['II0209 Cálculo integral', 'Gutierrez Esnaurrizar / Rina', 'Asignatura en Línea']

my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0):  ['II0209 Cálculo integral', 'II0209', 'Gutierrez Esnaurrizar / Rina', 'Asignatura en Línea']

my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1] ['Cálculo integral', 'II0209', 'Gutierrez Esnaurrizar / Rina', 'Asignatura en Línea']

i:  2
my_list = my_string[i].split('  '):  ['ID0205 Geometría computacional', 'Álvarez Estrada / José Enrique', 'Asignatura en Aula Remota']

my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0):  ['ID0205 Geometría computacional', 'ID0205', 'Álvarez Estrada / José Enrique', 'Asignatura en Aula Remota']

my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1] ['Geometría computacional', 'ID0205', 'Álvarez Estrada / José Enrique', 'Asignatura en Aula Remota']

i:  3
my_list = my_string[i].split('  '):  ['ID3468 Herramientas para la gestión de grandes volúmenes de datos', 'Ayala Godoy / Jairo Arturo', 'Asignatura en Aula Remota']

my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0):  ['ID3468 Herramientas para la gestión de grandes volúmenes de datos', 'ID3468', 'Ayala Godoy / Jairo Arturo', 'Asignatura en Aula Remota']

my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1] ['Herramientas para la gestión de grandes volúmenes de datos', 'ID3468', 'Ayala Godoy / Jairo Arturo', 'Asignatura en Aula Remota']

i:  4
my_list = my_string[i].split('  '):  ['ID0307 Ingeniería de software', 'Serrano Ruiz / César', 'Asignatura en Línea']

my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0):  ['ID0307 Ingeniería de software', 'ID0307', 'Serrano Ruiz / César', 'Asignatura en Línea']

my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1] ['Ingeniería de software', 'ID0307', 'Serrano Ruiz / César', 'Asignatura en Línea']

i:  5
my_list = my_string[i].split('  '):  ['ID0310 Minería de datos', 'Gómez García / Hector Fernando', 'Asignatura en Línea']

my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0):  ['ID0310 Minería de datos', 'ID0310', 'Gómez García / Hector Fernando', 'Asignatura en Línea']

my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1] ['Minería de datos', 'ID0310', 'Gómez García / Hector Fernando', 'Asignatura en Línea']

i:  6
my_list = my_string[i].split('  '):  ['IT0263 Electrónica analógica', 'René / Mónica Patricia', 'Asignatura en Aula Remota']

my_list.insert(1, re.match(r"[A-Z]{2}[0-9]{4}", my_list[0]).group(0):  ['IT0263 Electrónica analógica', 'IT0263', 'René / Mónica Patricia', 'Asignatura en Aula Remota']

my_list[0] = re.split(r"[A-Z]{3}[0-9]{4}|[A-Z]{2}[0-9]{4} ", my_list[0])[1] ['Electrónica analógica', 'IT0263', 'René / Mónica Patricia', 'Asignatura en Aula Remota']

subjects:  ['Matemáticas discretas', 'Cálculo integral', 'Geometría computacional', 'Herramientas para la gestión de grandes volúmenes de datos', 'Ingeniería de software', 'Minería de datos', 'Electrónica analógica']
id_subjects:  ['IT0104', 'II0209', 'ID0205', 'ID3468', 'ID0307', 'ID0310', 'IT0263']
teachers:  ['Manzano Pinzón / Francisco', 'Gutierrez Esnaurrizar / Rina', 'Álvarez Estrada / José Enrique', 'Ayala Godoy / Jairo Arturo', 'Serrano Ruiz / César', 'Gómez García / Hector Fernando', 'René / Mónica Patricia']
modalities:  ['Asignatura en Aula Remota', 'Asignatura en Línea', 'Asignatura en Aula Remota', 'Asignatura en Aula Remota', 'Asignatura en Línea', 'Asignatura en Línea', 'Asignatura en Aula Remota']

Nuevas columnas
Index(['no.', 'type', 'section', 'id_subject', 'teacher', 'modality',
       'subject', 'first_partial', 'second_partial', 'third_partial',
       'average', 'final_grade'],
      dtype='object')
Dataframe de boleta actualizado
   no. type  section id_subject                         teacher  \
0  1.0  OP1      1.0     IT0104      Manzano Pinzón / Francisco
1  2.0  OP1      3.0     II0209    Gutierrez Esnaurrizar / Rina
2  3.0  OP1      2.0     ID0205  Álvarez Estrada / José Enrique
3  4.0  OP1      1.0     ID3468      Ayala Godoy / Jairo Arturo
4  5.0  OP1      2.0     ID0307            Serrano Ruiz / César
5  6.0  OP1      2.0     ID0310  Gómez García / Hector Fernando
6  7.0  OP1      5.0     IT0263          René / Mónica Patricia

                    modality  \

## Pruebas

In [ ]:
# Load environmental variables
env = loadEnvs("../../.env")

# Start the webdriver
driver = initializeWebDriver()

# Login into SIGMAA using the student credentials
loginSIGMAA(driver, 
            env["id_user"], 
            env["password"])

In [ ]:
dataframe2Dict(grades["202201"])

In [ ]:
student_grades = {}
student_grades["id_user"] = env["id_user"]
student_grades

In [ ]:
for period, dataframe in grades.items():
    student_grades.update({"grades" : {
        "id_period" : period,
        "average_grades" : getAverageGrade(dataframe),
        "total_credits" : np.nan,
        "subject_grades" : dataframe2Dict(dataframe)
    }})

In [ ]:
student_grades

## To Database

In [ ]:
index = 0

# Open MySQL connection
engine = openMySQL(env["MYSQL_ADDON_URI"])

for table_name, df in grades.items():
    # Save the academic offer to mysql database
    for table_name, df in grades.items():
        if index == 0:
            df.to_sql(table_name+"_"+env["id_user"], con = engine, if_exists = "replace", index = False)
        else:
            df.to_sql(table_name+"_"+env["id_user"], con = engine, if_exists = "append", index = False)
        index = index + 1

# Close MySQL connection
closeMySQL(engine)

In [ ]:
# Close the SIGMAA session
logoutSIGMAA(driver)

# Close the webdriver
driver.quit()